html{
    font-family: "Poppins", sans-serif;
    line-height: 36px;
    color: #333333;
    background-color: #F08080;
    scroll-behavior: smooth;
    font-size:20px; 
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
}
.header_item {
    margin-right: 25px;
    list-style-type: none;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 20px;
    line-height: 50px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2px;
    color:  #333333;
    text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active{
    color: #F08080;
}
h1 {
    line-height: 50px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
    font-size: 55px;
    color: #F08080;
}
h2 {
    line-height: 50px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
    font-size:32px; 
}
h3 {
    line-height: 50px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    font-size:20px;   
}

hr {
    width: 500; 
    size: 10; 
    color: #333333;
}
a {
    color:#333333;
}
img.foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cv {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 50px 10px 50px;
    margin: 0 100px 0 100px;
}
.item {
    list-style-type: none;
    padding-bottom: 10px;
}
li {
    color: #F08080; 
   }
li span {
    color: #333333; 
   }
.info {
    padding: 0 20px 0 20px;

}
.project {
    padding: 0 20px 0 20px;
}
.img_project {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-left: 630px;
}
.project_content {
    max-width: 500px;
    color: #333333; 
    line-height: 50px;
}
.code {
    font-size:20px;
}
.work {
    padding: 0 20px 0 20px;
}
.education {
    padding: 0 20px 0 20px;
}
.english {
    padding: 0 20px 20px 20px;
}
footer {
    width: 100%;
    top: 0;
    left: 0;
}
.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 100px 0 100px;
    max-width: 1300px;
}
.footer_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.item_list {
    margin-right: 410px;
    list-style-type: none;
    color: #333333; 
}
.item_list:last-child{
    margin-right: 0;
}
